footer{
    background-color: rgba(0, 0, 0, .55);
    max-width: 1920px;
    min-height: 595px;
    margin-top: 45px;
    display: flex;
    padding: 65px 40px;
    justify-content: space-between;
}
.about_foot{
    font-size: 32px;
    max-width: 763px;
    min-height: 507px;
    color: white;
}

.about_foot span{
    font-size: 40px;

}

.contact_foot{
    font-size: 32px;
    max-width: 763px;
    min-height: 400px;
    color: white;

}

.contact_foot span{
    font-size: 40px;

}