.connect_blog {
    max-width: 1920px;
    width: 100%;
    height: 149px;
    background-color: #51BCFF;
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    align-items: center;
}

.connect_blog p {
    color: white;
    font-size: 32px;

}

.connect_button {
    max-width: 508px;
    width: 100%;
    height: 79px;
    background-color: #2390D3;
    font-size: 32px;
    color: white;
    border-radius: 20px;
}

.connect_button:hover {
    max-width: 508px;
    width: 100%;
    height: 79px;
    background-color: #FFF82F;
    font-size: 32px;
    color: #363636;
    border-radius: 20px;
    transition: background-color .8s, color .8s;
}

.blog_name {
    margin: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;

}

.announcement {
    max-width: 1736px;
    width: 100%;

    background-color: #51BCFF;
    margin: 0 auto;
    border-radius: 153px;
    padding: 127px 80px;
    color: white;
    font-size: 32px;


}

@media (max-width:850px) {
    .connect_blog p {
        font-size: 24px;
    }

    .announcement {
        font-size: 24px;
    }
    пше

    .connect_button {
        font-size: 24px;
    }

    .blog_name{
        font-size: 26px;
    }

    .f_1{
        flex-direction: column;
    }
    .about_foot{
        font-size: 24px;
    }
    .about_foot span{
        font-size: 26px;
        
    }
}

@media (max-width:540px) {
    .connect_blog p {
        font-size: 15px;
    }

    .announcement {
        font-size: 18px;
    }
    .announcement span {
        font-size: 20px;
    }

    .connect_button {
        font-size: 15px;
    }
    .connect_button:hover {
        font-size: 15px;
    }

    .blog_name{
        font-size: 18px;
    }

    .f_1{
        flex-direction: column;
    }
    .about_foot{
        font-size: 15px;
    }
    .about_foot span{
        font-size: 18px;
        
    }

    .send_feedback{
        font-size: 20px;
    }
}